.designCard {
    width: 275px;
    height: 225px;
    background-color: white;
    display: flex;
    border-style: groove;
    border-width: 2px;
    flex-direction: column;
    margin-right: 1em;
    margin-bottom: .5em;
  }


  
  /* CSS */
  .button-16 {
    background-color: #e8ebef;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 12px;
    height: 24px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 12px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
    margin: 2px;
    margin-left: 5px;
  }
  
  .button-16:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
  }
  
  .button-16:focus {
    border-color: #4285f4;
    outline: none;
  }

  

/* CSS */
.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

  .designCardContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .yourDesigns {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .saved-wrapper {
    margin: 20px 30px;
  }

  .thumbnail-image, .loading-space {
    width: 275px;
    height: 165px;
  }

  h3 {
    margin: .3em;
    font-family: sans-serif;
  }

  p {
    margin: .3em;
    font-family: sans-serif;
  }

  .fileButtons {
    display: flex;
    flex-direction: column;
  }

  .file-info {
    height: 60px;
    display: flex;
    justify-content: space-between;
  }