html,
body,
#root {
    height: 100%;
    margin: 0;
    background-color: #f2f3f5;
    overflow-x: hidden; /* Temporary cover-up for some issue in navbar.scss*/
}

.App {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.App .AppNavBar {
    flex: 0 1 auto;
}

.App .AppRouting {
    display: flex;
    flex: 1 1 auto;
}