<html>
	<head>
		{% load static %}
	    	{% include "bootstrap.html" %}
	    	{% include "navigation.html" %}
	    	<script src="{%static 'test.js' %}"></script>
	    	<link rel="stylesheet" href="{%static 'test.css' %}" />	
	</head>
	<body>
		<h1> <center>Room Arranger Project Creators</center></h2>
		<strong> Software Engineers: </strong>
		<ul>
		<li> Adrian Arredondo</li>
		<li> Aidan Murphree </li>
		<li> Chloe Koschnick </li>
		<li> Quinn Gavin </li>
		</ul>
		<strong> Usability Engineers: </strong>
		<ul>
		<li> Braden Nicholson</li>
		<li> Luke Burkhardt </li>
		</ul>
	</body>
</html>
