<html>
	<head>
		{% load static %}
	    	{% include "bootstrap.html" %}
	    	{% include "navigation.html" %}
	    	<script src="{%static 'test.js' %}"></script>
	    	<link rel="stylesheet" href="{%static 'test.css' %}" />	
	</head>
	<body>
		<h2><center>Feng Shui</center></h2>
		<p></p>
		<p>In Feng Shui, there are 5 elements (earth, metal, water, wood, and fire). Each element has associated colors, qualities, etc.. The way you interact with these elements and the way they interact with your space is impactful.</p>
		<p> Another important part of Feng Shui is the <strong>commanding position</strong>. It is important that certian objects in your home are in commanding positions.  The goal of a commanding position is to see a door without being directly in line with is, this helps you be aware of what is coming your way and therefore be more at ease. </p>
		
	</body>
</html>
